.DS_Store
*/*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/
*/*.xcodeproj/project.xcworkspace/xcshareddata/*.xccheckout
*/*.xcodeproj/xcuserdata/*.xcuserdatad/
shaarli-logo.png
build/
appstore/
swift4/deploy/tmp/
