.DS_Store
ios/*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/
ios/*.xcodeproj/project.xcworkspace/xcshareddata/*.xccheckout
ios/*.xcodeproj/xcuserdata/*.xcuserdatad/
ios/assets/build/
ios/build/
shaarli-logo.png
build/
appstore/Preview.html