---
openapi: 3.0.1
info:
  title: Pinboard API
  description: "The Pinboard API is a way to interact programatically with your bookmarks,
    notes and other Pinboard data.\nWherever possible the Pinboard API uses the same
    syntax and method names as the Delicious V1 API. See differences from Delicious
    for a full list of areas where the APIs diverge. "
  contact:
    email: pinboard-api@mro.name
  version: '1'
externalDocs:
  description: Pinboard API
  url: https://pinboard.in/api/
servers:
- url: https://demo.mro.name/shaarli-v0.41b/shaarlios.cgi/v1
- url: https://demo.mro.name/shaarli-v0.10.2/shaarlios.cgi/v1
- url: https://demo.mro.name/shaarligo/shaarligo.cgi/v1
- url: https://api.pinboard.in/v1
paths:
  "/posts/add":
    get:
      tags:
      - posts
      summary: Add a bookmark. Arguments with shaded background are required.
      operationId: addPost
      parameters:
      - name: url
        in: query
        description: the URL of the item
        required: true
        schema:
          type: string
      - name: description
        in: query
        description: Title of the item. This field is unfortunately named 'description'
          for backwards compatibility with the delicious API
        required: true
        schema:
          type: string
      - name: extended
        in: query
        description: Description of the item. Called 'extended' for backwards compatibility
          with delicious API
        schema:
          type: string
      - name: tags
        in: query
        description: List of up to 100 tags
        schema:
          type: string
      - name: dt
        in: query
        description: creation time for this bookmark. Defaults to current time. Datestamps
          more than 10 minutes ahead of server time will be reset to current server
          time
        schema:
          type: string
      - name: replace
        in: query
        description: Replace any existing bookmark with this URL. Default is yes.
          If set to no, will throw an error if bookmark exists
        schema:
          type: boolean
      - name: shared
        in: query
        description: Make bookmark public. Default is 'yes' unless user has enabled
          the 'save all bookmarks as private' user setting, in which case default
          is 'no'
        schema:
          type: boolean
      - name: toread
        in: query
        description: Marks the bookmark as unread. Default is 'no'
        schema:
          type: boolean
      responses:
        '200':
          "$ref": "#/components/responses/Done"
  "/posts/get":
    get:
      tags:
      - posts
      summary: Returns one or more posts on a single day matching the arguments. If
        no date or url is given, date of most recent bookmark will be used.
      operationId: getPost
      parameters:
      - name: tag
        in: query
        description: filter by up to three tags
        schema:
          type: string
      - name: dt
        in: query
        description: return results bookmarked on this day
        schema:
          type: string
      - name: url
        in: query
        description: return bookmark for this URL
        schema:
          type: string
      - name: meta
        in: query
        description: include a change detection signature in a meta attribute
        schema:
          type: boolean
      responses:
        '200':
          description: foo
          content:
            application/xml:
              schema:
                "$ref": "#/components/schemas/posts"
  "/posts/delete":
    get:
      tags:
      - posts
      summary: Delete a bookmark.
      operationId: deletePost
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          "$ref": "#/components/responses/Done"
components:
  responses:
    Done:
      description: A normal response
      content:
        application/xml:
          schema:
            "$ref": "#/components/schemas/result"
  schemas:
    tag:
      type: string
      description: up to 255 characters. May not contain commas or whitespace. Please
        be aware that tags beginning with a period are treated as private and trigger
        special private tag semantics.
    URL:
      type: string
      description: as defined by RFC 3986. Allowed schemes are http, https, javascript,
        mailto, ftp and file. The Safari-specific feed scheme is allowed but will
        be treated as a synonym for http.
    title:
      type: string
      description: up to 255 characters long
    text:
      type: string
      description: up to 65536 characters long. Any URLs will be auto-linkified when
        displayed.
    datetime:
      type: string
      description: 'UTC timestamp in this format: 2010-12-11T19:48:02Z. Valid date
        range is Jan 1, 1 AD to January 1, 2100 (but see note below about future timestamps).'
      example: '2010-12-11T19:48:02Z'
    date:
      type: string
      description: 'UTC date in this format: 2010-12-11. Same range as datetime above'
      example: '2010-12-11'
    yes/no:
      type: string
      description: the literal string 'yes' or 'no'
      example: 'no'
    md5:
      type: string
      description: 32 character hexadecimal MD5 hash
    integer:
      type: string
      description: integer in the range 0..2^32
    format:
      type: string
      description: the literal string 'json' or 'xml'
      example: xml
    posts:
      type: array
      properties:
        dt:
          type: string
          xml:
            attribute: true
          example: '2010-12-11T19:48:02Z'
        tag:
          type: string
          xml:
            attribute: true
          example: webdev
        user:
          type: string
          xml:
            attribute: true
          example: user
      items:
        type: object
        xml:
          name: post
        properties:
          href:
            type: string
            xml:
              attribute: true
            example: http://www.howtocreate.co.uk/tutorials/texterise.php?dom=1
          description:
            type: string
            xml:
              attribute: true
            example: JavaScript DOM reference
          extended:
            type: string
            xml:
              attribute: true
            example: dom reference
          hash:
            type: string
            xml:
              attribute: true
            example: c0238dc0c44f07daedd9a1fd9bbdeebd
          meta:
            type: string
            xml:
              attribute: true
            example: 92959a96fd69146c5fe7cbde6e5720f2
          others:
            type: string
            xml:
              attribute: true
            example: 55
          tag:
            type: string
            xml:
              attribute: true
            example: dom javascript webdev
          time:
            type: string
            xml:
              attribute: true
            example: '2005-11-28T05:26:09.000Z'
    result:
      type: object
      properties:
        code:
          type: string
          example:
          - done
          - something went wrong
          xml:
            attribute: true
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    AuthToken:
      type: apiKey
      in: query
      name: auth_token
      description: |-
        An authentication token is a short opaque identifier in the form 'username:TOKEN'.
        Users can find their API token on their settings page. They can request a new token at any time; this will invalidate their previous API token.
        Any third-party sites making API requests on behalf of Pinboard users from an outside server MUST use this authentication method instead of storing the user's password. Violators will be blocked from using the API.
security:
- AuthToken: []
- BasicAuth: []
